/** para corregir errores en los campos de error en el login **/
.btn-round-right{
    border-top-right-radius: 30px 30px !important;
    border-bottom-right-radius: 30px 30px !important;

}

.btn-round-right:focus{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}



.img-profile{
    max-height: 25px;
    border-radius: 20px;
}

/** Dropdown menu modificar estilos, correccion acomodo **/
.dropdown-menu::before{
    right: 10px !important;
}

.dropdown-menu{
    right: 0!important;
}



.icono-m{
    margin-top: -2px;
    margin-right: 3px;
    font-size: .9rem;
}

.logo-nav{
    width: 100px;
    margin-right:  20px;
}


.item-m{
    margin-right:  3px;
    font-size: 20px;
    font-weight: bold;
}


.icon-toggler{
    color: white !important;
}

.logo-size{
    height: 25px!important;
    width: 150px!important;
}



/** Sobre escribir estilos primarios
.bg-primary{
    background-color: rgba(18, 22, 25, 0.99) !important;
}


.navbar{
    border-bottom: 1px solid #126E18 !important;
}




.nav-link-color{
    color: #126E18 !important;
    font-weight:  bold;
    letter-spacing: 1.1px !important;
    font-size: 12px!important;

}

.profile-lik{
    color: #126E18 !important;
    font-weight:  bold;
    font-size: 12px!important;
}


/**
body{
    background-color: white;
}


li>a{
    background-color: white!important;
    border-radius: 10px !important;
}


a:focus{
    background-color: #CBD9CB!important
}


a:hover{
    background-color: #CBD9CB!important;
}


.nav-link-color{
        color: #126E18 !important;
        background-color: transparent!important;
}


.nav-link-color:focus{
    background-color: transparent!important
}


.nav-link-color:hover{
    background-color: transparent!important;
}


.nav-border-none{
    border: none!important;
}

.btn-primary{
    background-color: #126E18 !important;
}


**/


.clear-filter[filter-color="orange"]{
        background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(0, 0, 0, 0.6)) !important;
}


.boton{
    margin-top:-6px !important;
}